/* Footer Style */
.footer {
    background-color: #000000;
    color: white;
  }
  
  .cityfooter{
    display: flex;
  }
  .firstfooterbox{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;
          margin: 0px 0 0 0px;
          padding: 0px 0px 0px 0px;
          border-radius: 3px;
      }
      .firstfooterlist{
          display: flex;
          padding: 0;
          margin: 20px 0 0 40px;
      }
      .firstfooterlistitems{
          display: flex;
          width: 90px;
          height: 60px;
          margin: 0 0px 0 0;
          list-style: none;
      }
      .firstfooterimg{
          width: 50px;
          height: 50px;
          margin: 0px 0 0 0;
      }
      .firstfooterlistitemslink{
          display: flex;
          display: block;
          text-decoration: none;
          padding:0px 0px 0 0;
          margin: 0px 0px 0 0;
          width: 50px;
          height: 50px;
      }
      .firstfooterlistitemslink:hover{
       transform: scale(1.2);
       background-color:  rgb(244, 144, 61);
        border-radius: 50%;
        }
  
  .footerbox{
    display: flex;
    justify-content: center;
    height: 60px;
    margin: 0px 0 0 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
  }
  .footerlist{
    display: flex;
    padding: 0;
    margin: 0;
  }
  .footerlistitems{
    display: flex;
    width: 90px;
    height: 60px;
    margin: 0px 0px 0 0;
    list-style: none;
  }
  .footerlistitemslink{
    display: flex;
    display: block;
    text-decoration: none;
    padding:0px 0px 0 0;
    margin: 0 0px 0 0;
    width: 90px;
    height: 60px;
    font-family:'SNsanafonmaru';
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 55px;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255)
  }
  .footerlistitemslink:hover{
    transform: scale(1.2);
    color: rgb(244, 144, 61);
  }
  .firsticonwrap{
    display: flex;
    justify-content: center;
  }
  
  /* @media screen and (min-width: 992px) {
    .footer__description {
      padding: 0px;
      text-align: justify;
    }
  
    .footer__list {
      justify-content: flex-end;
    }
  }
  
  .footer__item {
    padding: 0 10px;
    align-self: center;
  }
  
  .footer__link {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
  }
  
  .footer__link:hover {
    background-color: #fff;
    color: #2c3e50;
  } */
  
  .footerbelow {
    background-color: #000000;
    color: white;
    padding: 25px 0;
    text-align: center;
  }
