/* Global Style */

/* Divider Style */
.divider--light,
.divider--dark {
  width: 250px;
  border-top: solid 5px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.divider--light {
  border-color: #fff;
}

.divider--dark {
  border-color: #2c3e50;
}

/* Header Style */
.contact {
	height:1000px;
	padding-top: 100px;
	background-image: url(../images/ob.jpg );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
	color:#ffffff;
}

.contact .form {
	max-width: 500px;
	margin:0 auto;
	padding: 0 30px;
	color:rgb(10, 35, 97);
    font-family:'KurewaGothicCjkTc-Bold';
}

.form input {
	height: 40px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color:rgb(10, 35, 97);
	margin:7.5px 0;
    box-shadow:2px 2px 4px rgb(10, 35, 97);
    font-family:'KurewaGothicCjkTc-Bold';
}
input[type=submit] {
  background-color:rgb(10, 35, 97);
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
  margin-top:30px ;
}

input[type=submit]:hover {
  background-color: rgb(255, 145, 89);
  color:rgb(255, 145, 89);
}
 .logo{
    height: 100px;
} 
.logo_img{
    width: 50px;
}
.logo_img:hover{
    transform: scale(1.2);
    border-radius: 50%;
    background-color: rgb(255, 145, 89);
}
.social_media{
    display: flex;
    display: block;
    text-decoration:none;
    padding:0px 0px 0 0;
}

.media-icon:hover{
    transform: scale(1.1);
  }
.media-icon{
    width:30px;
    height:30px;
}
.title3{
    margin-bottom: 0px;
    color:rgb(10, 35, 97);
    font-family:'KurewaGothicCjkTc-Bold';
}
.title4{
    margin-bottom: 0px;
    color:rgb(10, 35, 97);
    font-family:'KurewaGothicCjkTc-Bold';
}
.enter{
    margin-bottom: 10px;
}
.title_line {
	margin-top: 30px;
    border:rgb(10, 35, 97) 1.5px solid ;
    border-radius: 50px;
}
.title2_line {
	margin-top: 40px;
    border:rgb(10, 35, 97) 1.5px solid ;
    border-radius: 50px;
}
.Continue{
    margin-top: 30px;
}
.square{
    width: 20px;
    height: 20px;
}
.square:hover{
    transform: scale(1.1);
}
.squareRemeber{
    display: flex;
}
.Remeber{
  color: rgb(10, 35, 97);
}
.Remeber:hover{
  transform: scale(1.2);
  color: rgb(255, 145, 89);
}
.last{
    margin-bottom: 20px;
}
.dont{
    font-family:'KurewaGothicCjkTc-Bold';
    color: rgb(10, 35, 97);
    margin-top: 30px;
    margin-bottom: 10px;
}
.Sign{
    font-family:'KurewaGothicCjkTc-Bold';
    color: rgb(10, 35, 97);
}
.Sign:hover{
  transform: scale(1.2);
  color: rgb(255, 145, 89);
}
.sign{
  color: rgb(10, 35, 97);
    cursor: pointer;
    font-size: 48px;
    font-family:'KurewaGothicCjkTc-Bold';
}
.back{
  backdrop-filter:contrast(60%); /* 對比效果 */
  -webkit-backdrop-filter:contrast(50%);
  border-radius: 50px;
}

/* Image Style */
.image {
  position: relative;;
}

.image__layout {
  background-color: #fff;
  font-size: 1rem;
}

.image__link {
  display: block;
}

.image__style {
  width: 100%;
  display: block;
}

.image_title {
  color: white;
  right: 2rem;
  bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
}

/* Descriptions Style */
.description__layout {
  background-color: #00979c;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

@media screen and (min-width: 768px) {
   .description__layout {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.description__content {
  text-indent: 2rem;
}

/* Footer Style */
.footer__above {
  background-color: #000000;
  color: white;
}
.cityfooter{
   width: 704px;
  background-color: #ffffff;
}
.firstfooter-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin: 0px 0 0 0px;
        padding: 0px 0px 0px 0px;
        border-radius: 3px;
    }
    .firstfooter-list{
        display: flex;
        padding: 0;
        margin: 20px 0 0 40px;
    }
    .firstfooter-list-items{
        display: flex;
        width: 90px;
        height: 60px;
        margin: 0 0px 0 0;
        list-style: none;
    }
    .firstfooter-img{
        width: 50px;
        height: 50px;
        margin: 0px 0 0 0;
    }
    .firstfooter-list-items-link{
        display: flex;
        display: block;
        text-decoration: none;
        padding:0px 0px 0 0;
        margin: 0px 0px 0 0;
        width: 50px;
        height: 50px;
    }
    .firstfooter-list-items-link:hover{
     transform: scale(1.2);
     background-color:  rgb(244, 144, 61);
      border-radius: 50%;
      }

.footer-box{
  display: flex;
  justify-content: center;
  height: 60px;
  margin: 0px 0 0 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 3px;
}
.footer-list{
  display: flex;
  padding: 0;
  margin: 0;
}
.footer-list-items{
  display: flex;
  width: 90px;
  height: 60px;
  margin: 0px 0px 0 0;
  list-style: none;
}
.footer-list-items-link{
  display: flex;
  display: block;
  text-decoration: none;
  padding:0px 0px 0 0;
  margin: 0 0px 0 0;
  width: 90px;
  height: 60px;
  font-family:'SNsanafonmaru';
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 55px;
  letter-spacing: normal;
  text-align: center;
  color: rgb(255, 255, 255)
}
.footer-list-items-link:hover{
  transform: scale(1.2);
  color: rgb(244, 144, 61);
}
/* 
.footer__description {
  margin: 0;
  padding: 0 30px;
  text-align: center;
  padding-bottom: 30px;
  align-self: center;
} */

.first-icon-wrap{
  display: flex;
  justify-content: center;
}
/* .footer__list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-self: center;
} */


@media screen and (min-width: 992px) {
  .footer__description {
    padding: 0px;
    text-align: justify;
  }

  .footer__list {
    justify-content: flex-end;
  }
}

.footer__item {
  padding: 0 10px;
  align-self: center;
}

.footer__link {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.footer__link:hover {
  background-color: #fff;
  color: #2c3e50;
}

.footer__below {
   background-color: #000000;
  color: white;
  padding: 25px 0;
  text-align: center;
}
